body {
    font-size: 18px;
    line-height: 1.4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header,
nav,
main,
footer {
    margin: 1.25rem auto;
    max-width: 800px;
    
}

header,
footer {
    background-color: teal;
    color: white;
    text-align center;
    border-radius: 30px;
  
}
footer {
    text-align: center;
}

header {
    padding: 1.5rem;
}

img {
    float: right;
    margin-top: -160px;
    margin-right: -10px;
    border: 10px solid orange;
    border-radius: 30px;

}