body {
    font-size: 20px;
    line-height: 1.6;
}

header,
nav,
main,
footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

header,
feComponentTransfer {
    background-color: teal;
    color: whitesmoke text-align: center;

}

header {
    padding: 1.5rem;
}

img {
    float: right;
    margin: 10px;
    border: 1px solid orange;
}