body {

    font-size: 16px;
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
}

header,
nav,
main,
footer {
    margin: 1.25rem auto;
    max-width: 800px;

}

header {
    background-color: teal;
    color: white;
    border-radius: 30px;

}

footer {
    border-radius: 30px 30px 0px 0px;
    background-color: teal;
    color: white;
    text-align: center;
    height: auto;
    padding: 15px;
    font-size: 16px;
    word-spacing: 7px;
      }


h1,
h2,
h3,
h4 {
    font-family: 'Oleo Script', cursive;


}

h1 {
    font-size: 2.2rem;

}

h2 {
    font-size: 1.2rem;
    padding-left: 5px;
    padding-right: 5px;
}



footer {
    text-align: center;
    padding: 5px;
}

header {
    padding: 1.5rem;

}

#profilepic {
    

    border: 2px solid orange;
}