@media only screen and (min-width: 60em) {

    body {
        font-size: 14px;
    }

    h1 {
        font-size: 32px;

    }

    h2 {

        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }

   /* .imagedropshadow {
        padding: 5px;
        border: solid 1px #EFEFEF;
    }
    a:hover img.imagedropshadow {
        border: solid 1px #CCC;
        -moz-box-shadow: 1px 1px 5px #999;
        -webkit-box-shadow: 1px 1px 5px #999;
            box-shadow: 1px 1px 5px #999;
    }*/

    ul:before {
        content: attr(aria-label);
        font-size: 18px;

    }

    .map {}



}