* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 12px;
    line-height: 1.4;
    font-weight: 400;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    border-color: #19231a;

}


#bannernone {
    display: none;
}

#banner {
    display: block;
    background-color: #a7830e;
    color: #19231a;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    padding: 1em;
}




header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

header h1 {
    line-height: 32px;
    padding: 5px;
}

.motto {
    font-style: italic;
    letter-spacing: .5pt;
    color: white;
    margin-top: -25px;
    margin-left: 20px;
    font-size: .8rem;

}

header,
footer {
    background-color: #19231a;
    color: #d8cbc7;
    text-align: center;
    height: auto;
    padding: 10px;


}

main {
    padding: 15px;
}

nav {
    font-weight: 600;
    background-color: #d8cbc7;
    color: #19231a;
    text-align: center;
    padding: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
}

nav li a {
    
    font-size: 0.95rem;
}


.navigation a:hover {
    background-color: #cc3f0c;
    color: #d8cbc7;
}

.navigation a:active {
    background-color: #9a6038;
    color: #d8cbc7;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: #2e3532;
    padding: .75rem;
    text-align: center;
    text-decoration: none;
}

h1,
h3 {
    font-family: "Lobster", cursive;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

h2 {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-left: 15px;
}

h3 {
    font-size: 14px;
    font-weight: bold;
    padding-left: 0px;
}

.placeholder {
    padding: 1rem;
    margin: 1rem;
    border: 3px solid #cc3f0c;
}

.responsive li {
    display: block;
}

.navigation li:first-child {
    display: block;
}

.logo {
    width: 80px;
    padding: 0 0 0 30px;
    height: auto;
}

nav button {
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
}

.hero-pic-area {


    width: 100%;

}
.hero-sample-pic {
   
    max-width: 100%;
}

.heropic {
    margin: 1px auto;
    background-color: #d8cbc7;
    border: black;
    max-width: 100%;

}


.summary {

    top: 1.5rem;
    left: 1.4rem;
    text-align: left;
    padding: .5rem;
    background-image: radial-gradient(#ddb689, #cc3f0c);
    border: 1px solid #19231a;
    box-shadow: 0 0 30px grey;

}


.five-day-summary {
    display: flex;
    background-color: #cc3f0c;
    opacity: .8;
    border: 3px solid #19231a;
    padding: 1em 0;
    text-align: center;
   
}


.fivedayicons {
    flex: 50%;
    margin: 5px;
    padding: 15px;
   
}

.temp {
    flex: 50%;
    padding: 5px;
    color: white;

}


.main-article {
    background-color: #d8cbc7;
    border: 3px solid #19231a;
    margin: 1em 0;
    padding: 1em;
}

.articleimage {
    float: right;
    margin: 0 auto;
    padding: 1em;

}

footer {
    font-size: 14px;
}

.footercontact {
    display: flex;
align-items: center;
    margin: 0;
    padding: 0;

}

ul:before {
    content: attr(aria-label);
    font-family: "Lobster", cursive;
    font-size: 14px;
    font-weight: bold;
    padding-left: 0px;

}

footer ul {
    text-align: center;
    list-style: none;
    font-size: 14px;
    padding: 0;

}

.map {
    display: none;

}

.social {

    margin-right: .8rem;
}

.bottom-footer {
    background-color: #d8cbc7;
    color: #19231A;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 10px;

}