@media only screen and (min-width: 60em) {

    body {
        font-size: 14px;
    }

    h1 {
        font-size: 32px;

    }

    h2 {

        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }
    
    ul:before {
        content:attr(aria-label);
        font-size: 18px;
     
    }

    .map {
         
    }



}