body {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 12px;
    line-height: 1.4;
    font-weight: 400;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    border-color: #19231a;

}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    line-height: 32px;
}


.motto {
    font-style: italic;
    letter-spacing: .5pt;
    color: white;
    margin-top: -25px;
    margin-left: 20px;
    font-size: .8rem;

}


header,
footer {

    background-color: #19231a;
    color: #d8cbc7;
    text-align: center;
    height: auto;
    padding: 10px;
    font-size: 18px;

}

main {
    padding: 15px;
}

nav {
    font-weight: 600;
    background-color: #d8cbc7;
    color: #19231a;
    text-align: center;
    padding: 0;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;

}


nav li a {
    display: block;
    color: #2e3532;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;

}


.navigation a:visited {
    background-color: #33673b;
    color: #d8cbc7;
}

.navigation a:hover {
    background-color: #cc3f0c;
    color: #d8cbc7;
}

.navigation a:active {
    background-color: #9a6038;
    color: #d8cbc7;
}

.navigation li {
    display: none;

}

.navigation a {
    display: block;
    color: #2e3532;
    padding: .75rem;
    text-align: center;
    text-decoration: none;
}



h1,
h3 {
    font-family: "Lobster", cursive;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

h2 {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-left: 15px;
}

h3 {
    font-size: 14px;
    font-weight: bold;
    padding-left: 20px;
}




.placeholder {
    padding: 1rem;
    margin: 1rem;
    border: 3px solid #cc3f0c;
}

.responsive li {
    display: block;
}

.navigation li:first-child {
    display: block;
}



.logo {
    width: 80px;
    padding: 0 0 0 30px;
    height: auto;

}

nav button {
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
}

.hero-pic-area {
    position: relative;
    background-color: #19231a;
    margin: 0 auto;
    width: 100%;
    height: 300px;

}

.heropic {
    margin: 10px auto;
    background-color: #d8cbc7;
    width: 98%;
    height: 275px;
}



.summary {
    display:block;
    background: radial-gradient(204, 63, 12, .3);
    border: 1px solid #19231a;
    top: 50px;
    left: 50px;
    padding: .5rem;
    box-shadow: 0 0 30px grey;
}
.five-day-summary {

    max-width: 100%;
    background-color: rgba(204, 63, 12, .80);
    border: 3px solid #19231a;
    padding: 1em 0;
}

.fivedaytitle {
    display: block;
   
}

.fivedayicons {
    display: block;
}


.main-article {
    background-color: #d8cbc7;
    border: 3px solid #19231a;
    margin: 1em 0;
    padding: 1em;
}

.articleimage {
    float: right;
    margin: 0 auto;
    padding: 1em;

}

.footercontact {
    display: inline-flex;
    text-align: right;
    margin: 0;
    padding: 1em;
    align-items: stretch;

}

footer ul {
    list-style: none;


}


.map {
    display: none;
}